{% extends "AegirHostmaster::layout.html.twig" %}

{% block title "Aegir - Servers" %}

{% block content_header '' %}

{% block content %}
    <h1 class="title">{{ 'server.list.headline'|trans({}, 'AegirHostmaster') }}</h1>

    <p>
        {{ 'server.offset'|trans({}, 'AegirHostmaster') }}: {{ data.offset ?: '-' }}, {{ 'server.limit'|trans({}, 'AegirHostmaster') }}: {{ data.limit }}
    </p>

    <ul id="note-list">
        {% for id, server in data.servers %}
        <li>
            <a href="{{ path('get_server', {'id': id}) }}">{{ server.hostname }}</a>
            [<a href="{{ path('edit_servers', {'id': id}) }}">{{ 'server.edit.link'|trans({}, 'AegirHostmaster') }}</a>]
            [<a href="{{ path('remove_servers', {'id': id}) }}">{{ 'server.remove.link'|trans({}, 'AegirHostmaster') }}</a>]
        </li>
        {% else %}
        <li>{{ 'server.list.empty'|trans({}, 'AegirHostmaster') }}</li>
        {% endfor %}
    </ul>
    <p>
        <a href="{{ path('new_server') }}">{{ 'server.new.link'|trans({}, 'AegirHostmaster') }}</a>
    </p>
{% endblock %}

{% set code = code(_self) %}
