{% extends "AegirHostmaster::layout.html.twig" %}

{% block title "Aegir - Server" %}
{% block menu_active_servers "active" %}

{% block content_header '' %}

{% block content %}
    <h1 class="title">{{ 'server.label'|trans({}, 'AegirHostmaster') }} <small>{{ server.hostname }}</small></h1>

    <p>{{ server.hostname }}</p>
    <p>
        <a href="{{ path('get_servers') }}">{{ 'server.list.link'|trans({}, 'AegirHostmaster') }}</a> <br>
        [<a href="{{ path('remove_servers', {'id': id}) }}">{{ 'server.remove.link'|trans({}, 'AegirHostmaster') }}</a>]
        [<a href="{{ path('edit_servers', {'id': id}) }}">{{ 'server.edit.link'|trans({}, 'AegirHostmaster') }}</a>]
    </p>
{% endblock %}

{% set code = code(_self) %}
