{% extends "AegirHostmaster::layout.html.twig" %}

{% block title "Aegir - Projects" %}
{% block menu_active_projects "active" %}

{% block content_header '' %}

{% block content %}
    <h1 class="title">{{ 'project.list.headline'|trans({}, 'AegirHostmaster') }}</h1>
    <div class="row placeholders">
        {% for id, project in data.projects %}
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="{{ path('get_project', {'id': id}) }}"><h3 class="panel-title">{{ project.name }}</h3></a>
                </div>
                <div class="panel-body">
                    <div class="input-group">
                        <span class="input-group-addon icn"><i class="fa fa-code-fork"></i></span>
                        <input type="text" class="form-control" value="{{ project.source_url }}">
                    </div>
                </div>
                <ul class="nav nav-pills nav-justified">
                    <li><a href="{{ path('edit_projects', {'id': id}) }}">{{ 'project.edit.link'|trans({}, 'AegirHostmaster') }}</a></li>
                    {#<li><a href="{{ path('remove_projects', {'id': id}) }}">{{ 'project.remove.link'|trans({}, 'AegirHostmaster') }}</a></li>#}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                           {{ project.environments|length }} Environments <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu" role="menu">
                            {% for id, environment in project.environments %}
                              <li><a href="{{  environment.url }}">{{  environment.name }} <small class="text-muted">{{  environment.git_ref }}</small></a></li>
                            {% endfor %}
                            <li><a href="#"><i class="glyphicon glyphicon-plus"></i> {{ 'environment.new.link'|trans({}, 'AegirHostmaster') }}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>


        </div>
        {% endfor %}

        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 placeholder add-project-button">
                    <a href="{{ path('new_project') }}" class="btn btn-lg btn-success"><i class="glyphicon glyphicon-plus"></i>{{ 'project.new.link'|trans({}, 'AegirHostmaster') }}</a>
        </div>
    </div>
</div>
{% endblock %}

{% set code = code(_self) %}
