{% extends "AegirHostmaster::layout.html.twig" %}

{% block title "Aegir - Project" %}
{% block menu_active_projects "active" %}

{% block content_header '' %}

{% block content %}
    <h1 class="title">{{ 'project.label_plural'|trans({}, 'AegirHostmaster') }}</h1>

    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">{{  project.name }}</a>
            </div>
            <form class="navbar-form navbar-left" role="search">
                <div class="input-group">
                    {#<div class="input-group-btn">#}
                        {#<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="fa fa-code-fork"></i> <span class="caret"></span></button>#}
                        {#<ul class="dropdown-menu" role="menu">#}
                            {#<li><a href="#">master</a></li>#}
                            {#<li><a href="#">dev</a></li>#}
                            {#<li><a href="#">feature-new</a></li>#}
                            {#<li class="divider"></li>#}
                            {#<li><a href="#"><i class="fa fa-tag"></i> r0.1.0</a></li>#}
                            {#<li><a href="#"><i class="fa fa-tag"></i> test-tag</a></li>#}
                        {#</ul>#}
                    {#</div>#}
                    <input type="text" class="form-control" value="{{ project.source_url }}" size="40">
                    <span class="input-group-addon"><i class="fa fa-git"></i></span>

                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('edit_projects', {'id': id}) }}">Settings</a></li>
                <li><a href="#">People</a></li>
            </ul>
        </div><!-- /.container-fluid -->
    </nav>
    <!-- Environments -->

    <h2 class="title">{{ 'environment.label.plural'|trans({}, 'AegirHostmaster') }}</h1>
    <div class="row placeholders">
        {% for id, environment in project.environments %}
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {{ environment.name }}

                    </div>
                    <div class="panel-body">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="fa fa-code-fork"></i> {{ environment.git_ref }}<span class="caret"></span></button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">master</a></li>
                                <li><a href="#">dev</a></li>
                                <li><a href="#">feature-new</a></li>
                                <li class="divider"></li>
                                <li><a href="#"><i class="fa fa-tag"></i> r0.1.0</a></li>
                                <li><a href="#"><i class="fa fa-tag"></i> test-tag</a></li>
                            </ul>
                        </div>
                        <a href="{{ environment.url }}">{{ environment.url }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 placeholder add-project-button">
            <a href="#" class="btn btn-lg btn-success"><i class="glyphicon glyphicon-plus"></i>{{ 'environment.new.link'|trans({}, 'AegirHostmaster') }}</a>
        </div>
    </div>
    </div>


    <div class="text-right">
        <a href="{{ path('remove_projects', {'id': id}) }}" class="btn btn-danger btn-sm">{{ 'project.remove.link'|trans({}, 'AegirHostmaster') }}</a>
    </div>

{% endblock %}

{% set code = code(_self) %}
