{% extends "AegirHostmaster::layout.html.twig" %}

{% block title "Aegir - Projects" %}
{% block menu_active_projects "active" %}

{% block content_header '' %}

{% block content %}
    <h1 class="title">{{ 'project.list.headline'|trans({}, 'AegirHostmaster') }}</h1>

    <p>
        {{ 'project.offset'|trans({}, 'AegirHostmaster') }}: {{ data.offset ?: '-' }}, {{ 'project.limit'|trans({}, 'AegirHostmaster') }}: {{ data.limit }}
    </p>



    <div class="row placeholders">
        {% for id, project in data.projects %}
        <div class="col-xs-6 col-sm-3 placeholder well">
            <a href="{{ path('get_project', {'id': id}) }}">
                <h4> {{ project.name }} </h4>
                <div class="text-muted">{{ project.source_url }}</div>
            </a>

            <a href="{{ path('edit_projects', {'id': id}) }}" class="btn btn-default">{{ 'project.edit.link'|trans({}, 'AegirHostmaster') }}</a>
            <a href="{{ path('remove_projects', {'id': id}) }}" class="btn btn-default">{{ 'project.remove.link'|trans({}, 'AegirHostmaster') }}</a>

        </div>
        {% else %}
        {#<div class="col-xs-6 col-sm-3 placeholder">{{ 'project.list.empty'|trans({}, 'AegirHostmaster') }}</div>#}


        {% endfor %}

        <div class="col-xs-6 col-sm-3 placeholder"><a href="{{ path('new_project') }}">{{ 'project.new.link'|trans({}, 'AegirHostmaster') }}</a></div>
    </div>
{% endblock %}

{% set code = code(_self) %}
